
* { color:white; }
a { color:lightsalmon;}
a:visited { color:lightsalmon; }

body {
    background-color:teal;
    font-family:monospace;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

li { margin:1em; }
